/* add fonts */
@font-face {
    font-family: 'Calibri';
    src: url("./assets/fonts/calibri.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Calibri';
    src: url("/assets/fonts/calibrib.ttf");
    font-weight: 700;
} 
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/montserrat-alternates-medium.ttf");
    font-weight: 500;
}
/* add fonts */
/* null style */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family:inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight: 400;}
/* null style */

/* common style */
html {
    scroll-behavior: smooth; 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Calibri';
}
.wrapper {
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
._container {
    max-width: 1080px;
    margin: 0 auto;
}
section {
    position: relative;
    margin: 0px 0px 15px 0px;
}
._title {
    display: inline-block;
    background: #545454;
    width: 200px;
    padding: 5px;
    border-radius: 0px 0px 5px 0px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 0px 10px 0px;
}
.decoration-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #545454;
}
/* common style */

/* header */
.header {
    background-color: #fff;
    height: 60px;
    font-size: 24px;
    line-height: 150%;
    border-radius: 0 0 15px 15px;
}
.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 45px;
}
.menu-item {
}
.menu-item-link {
    color: #626ef4;
    transition: all .5s ease 0s;
}
.menu-item-link:hover {
    color: #e85bd8
}
/* header */


/* card info */
.card-row {
    display: flex;
    padding: 50px 10px 20px 50px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    margin: 20px;
}
.card-column {
    flex-basis: 50%;
}
.card-column h1 {
    font-family: 'Montserrat';
    font-size: 4rem;
    color: #fff;
    margin: 0 0 15px 0;
}
.card-column h2 {
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}
.card-column:last-child {
    padding: 40px;
}
.card-column-photo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #fff;
}
.card-column img {
    width: 100%;
    height: auto;
}
.contacts-list {
    display: flex;
    flex-direction: column;
}
.contacts-item {
    margin: 0 0 12px 0;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease 0s;
}
.contacts-item:last-child {
    margin: 0px;
    padding: 10px 10px 10px 30px;
}
.contacts-item:hover {
    background: rgba(196, 196, 196, 0.5);
}
.contacts-item img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.contacts-item-link {
    display: block;
    color: inherit;
    padding: 10px 10px 10px 30px;
}
.contacts-item-link a {
    display: block;
    height: 100%;
}
/* card info */

/* ?????? */
.content {
    background-color: #fff;
    margin: 20px;
    padding: 50px;
    border-radius: 5px;
}
.about-text {
    text-align: justify;
    font-size: 1.25rem;
    line-height: 125%;
}
/* ????? */
/* education */
.education-row {
    display: flex;
    justify-content: space-between;
}
.education-logo {
    align-self: flex-end;
}
.education-logo img {
    max-height: 60px;
    width: auto;
}
.education-container {
    padding: 15px 0 0 0;
    margin-left: 10px;
}
.university-name {
    font-weight: 700;
    margin: 0px 0px 5px 0px;
    font-size: 1.75rem;
}
.university-faculty {
    font-size: 1.2rem;
    margin: 0px 0px 2px 0px;
}
.university-year {
    color: rgba(115, 128, 141, 1);
}
/* education */

/* skills */
.skills-row {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}
.skills-image img {
    max-width: auto;
    max-height: 100px;
}
/* skills */

/* courses */
.courses-list {
    font-size: 1.55rem;
    padding: 10px 0 10px 10px;
    position: relative;
}
.courses-item {
    line-height: 150%;
}
.courses-list li::before {
	content: "";
    display: inline-block;
    background: #545454;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 2px;
}
.course-link {
    color: #a967e8;
    text-decoration: underline;
    transition: color .5s ease 0s;
}
.course-link:hover {
    color: #545454;
}
.youtube {
    text-decoration: none;
    color: inherit;
}
.youtube:hover {
    color: rgb(172, 0, 0);
}
/* courses */

/* language */
.languages {}
.languages-row {
    display: flex;
}
.language-column {
    margin: 0px 50px 0px 0px;
}
.language-title {
    margin: 0px 0px 10px 0px;
    font-size: 2rem;
    position: relative;
    padding-top: 15px;
}
.language-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 85px;
    height: 4px;
    background-color: #a967e8;
}
.language-level {
    font-size: 1.2rem;
    color: #545454;
}
/* language */


/* code */
.code {
    margin: 60px 20px 0px;
    padding: 40px 50px 0px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    position: relative;
    border: 2px solid #fff;
}
.code-title {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -250px;
    background-color: #fff;
    color: #545454;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 50px;
}
.code-title a {
    color: #ff1393;
    transition: color .5s ease 0s;
}
.code-title a:hover {
    color: inherit;
}
/* code */

/* footer */
.footer {
    padding: 30px;
    background-color: #626ef4;
    font-size: 1.5rem;
}
.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-author {
    color: #fff;
    flex-basis: 50%;
}
.footer-link {
    display: block;
    margin: 0px 20px 0px 0px;
    color: #fff;
    text-decoration: underline;
}
.footer-link a {
    color: inherit;
    transition: color .5s ease 0s;
}
.footer-link a:hover {
    color: #ff1393;
}
.footer-course {
    width: auto;
    height: 40px;
}
.rs-logo {
    max-width: 100%;
    height: 100%;
}
/* footer */