/* add fonts */
@font-face {
    font-family: 'Calibri';
    src: url("./assets/fonts/calibri.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url("/assets/fonts/calibri.ttf");
    font-weight: 700;
} 
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/montserrat-alternates-medium.ttf");
    font-weight: 500;
}
/* add fonts */
/* null style */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside {display: block;}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family:inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* null style */
html {
    scroll-behavior: smooth; 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
    font-family: 'Calibri';
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
._container {
    max-width: 1080px;
    margin: 0 auto;
}


.header {
    background-color: #fff;
    height: 60px;
    font-size: 24px;
    line-height: 150%;
    border-radius: 0 0 15px 15px;
}
.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}
.menu-item {
}
.menu-item-link {
    color: #0338f4b5;
    transition: all .5s ease 0s;
}
.menu-item-link:hover {
    color: #e85bd8
}


main {
    flex: 1 1 auto;
}
.card-row {
    display: flex;
    margin: 50px 0 0 0;
    padding: 50px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    margin: 20px;
}
.card-column {
    flex-basis: 50%;
}
.card-column h1 {
    font-family: 'Montserrat';
    font-size: 4rem;
    color: #fff;
    margin: 0 0 15px 0;
}
.card-column h2 {
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}
.card-column-photo {
    margin: 0 auto;
    vertical-align: middle;
    max-height: 400px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #fff;
}
.card-column img {
    width: 100%;
    height: auto;
}

.contacts-list {
    display: flex;
    flex-direction: column;
}
.contacts-item {
    margin: 0 0 12px 0;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    padding: 10px 10px 10px 30px;
    font-size: 1.25rem;
    color: #fff;
}
.contacts-item:last-child {
    margin: 0px;
}
.contacts-item img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.contacts-item-link {
    vertical-align: bottom;
    color: inherit;
}